sub {
	font-size:10px;
	color:red;
}

.hide {
	border:1px solid #006064;
	height:30px;
	width:100px;
	padding:3px;
	background-color:#EEEEEE;
	border-radius: 5px;
	position: relative;
	bottom:12px;
}

canvas {
	border:1px solid black;
	position: absolute;
	top: 150px;
	left:30%;
	width: 600px;
	height: 600px;
	transition: 0.4s ease-in-out;
}

.controls
{
	position: absolute;
	bottom: 5px;

}

.header
{
	text-align: center;
	position: relative;
	bottom: 5px;
	background-color: #AED581;
	border: 2px solid #689f38;
	border-radius:5px;
}

#headcontainer
{
	transition: 0.4s ease-in-out;
}
